<ion-header>
  <ion-toolbar>
    <ion-title>Sell and buy</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-router-outlet></ion-router-outlet> -->
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
        <ion-badge>3</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="chats">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        <ion-label>Chats</ion-label>
        <ion-badge>1</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="sell" class="ion-padding-top">
        <ion-label>Sell</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="my-ads">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>My ads</ion-label>
        <ion-badge>5</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="accounts">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="ion-margin-bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>